[submodule "Stima/Tubes1_Ngeeeng"]
	path = Stima/Tubes1_Ngeeeng
	url = https://github.com/sivaren/Tubes1_Ngeeeng
[submodule "Stima/Tubes2_13520034"]
	path = Stima/Tubes2_13520034
	url = https://github.com/fernaldy112/Tubes2_13520034
[submodule "OOP/Tubes1OOP"]
	path = OOP/Tubes1OOP
	url = https://github.com/bryanbernigen/Tubes1_OOP
[submodule "Probstat/Tubes1_Probstat"]
	path = Probstat/Tubes1_Probstat
	url = https://github.com/bryanbernigen/Tubes1_Probstat
[submodule "RPL/if2250-2021-k01-02-suryamenerangi.id"]
	path = RPL/if2250-2021-k01-02-suryamenerangi.id
	url = https://gitlab.informatika.org/Adityapnn811/if2250-2021-k01-02-suryamenerangi.id.git
[submodule "OOP/Tubes2_OOP"]
	path = OOP/Tubes2_OOP
	url = https://github.com/bryanbernigen/Tubes2_OOP
[submodule "OOP/Tubes2OOP"]
	path = OOP/Tubes2OOP
	url = https://github.com/Audino723/Tubes2_OOP
[submodule "Stima/Tubes3_13520019"]
	path = Stima/Tubes3_13520019
	url = https://github.com/bryanbernigen/Tubes3_13520019
[submodule "OS/TubesOS"]
	path = OS/TubesOS
	url = https://github.com/Sister19/tugas-besar-os-ngos
[submodule "Aslab"]
	path = Aslab
	url = https://github.com/bryanbernigen/Aslab
